@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    list-style: none;
}

.container {
    width: 85%;
    margin: auto;
}

.navbar {
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 0px 0px #000;
    padding: 25px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.navbar .nav-logo>sup {
    font-size: 7px;
    font-weight: 600;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    width: 65vw;
    gap: 20px;
    justify-content: space-between;
}

.navbar-collapse>ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar-collapse>ul>li {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.navbar .menu-bar {
    display: none;
}

.active {
    text-decoration: line-through;
}

.navbar-collapse form>.search {
    display: flex;
    align-items: center;
    width: 260px;
    padding: 8px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid #d2d2d2;
}

.navbar-collapse>form>.search>input {
    width: 100%;
    outline: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.header {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 143px; */
    width: 100%;
}

.header h1 {
        border-bottom: 1px solid #c7c7c7;
        height: 220px;
        font-size: 118px;
        font-weight: 600;
        text-align: center;
        line-height: 250px;
    }

.content1{
    height: 103px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
}
.contentLeft{
    display: flex;
    align-items: center;
}
.contentLeft.img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.contentLeft.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.text{
    width: 195px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;

}
.text p{
    font-size: 14px;
    font-weight: 400;
    height: 20px;
}
.contentRight ul{
    list-style: none;
    display: flex;
    width: 453px;
    height: 44px;
    gap: 16px;
}
.contentRight ul li{
    padding: 12px 16px;
    border: 1px solid #b4b4b4;
    font-size: 16px;
    font-weight: 500;
}
.image {
    width: 1280px;
    height: 762px;
    border: 1px solid #000;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
}
.main-img{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 900px;
    align-items: center;
}
.humans h3{
    width: 476px;
    height: 78px;
    font-weight: 600;
    font-size: 32px;
}
.humans p{
    width: 578px;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.humans{
    height: 180px;
    display: flex;
    justify-content: center;
}
.content2{
    width: 100%;
    height: 1067px;
    display: flex;
    justify-content: center;
}
.help-img{
    width: 478px;
    height: 430px;
    overflow: hidden;
}
.help-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:  bottom;
}
.help-text{
    width: 576px;
    height: 430.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.help-text h3{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
}
.help-text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 578px;
    height: 90px;
}
.img2{
    text-align: end;
    display: flex;
    justify-content: flex-end;
}
.video div{
    width: 1180px;
    height: 677px;
    overflow: hidden;
}
.video div img{
    width: 100%;
    height: 100%;

}
.video{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.mark{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mark i{
    font-size: 35px;
    margin-bottom: 30px;
}
.mark h2{
    width: 770px;
    height: 78px;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}
.mark .past{
    width: 775px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}
.mark .her{
    width: 775px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 90px;

}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.li{
    width: 1180px;
    text-align: center;
    border-top: 1px solid black;
    height: 100px;
}
.related{
    width: 100%;
    height: 1405px;
    background-color: #161616;

}
.rel{
    display: flex;
    justify-content: space-between;
    padding: 30px  150px 0 150px;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    height: 220px;
}
.rel h2{
    font-weight: 600;
    font-size: 96px;
    color: #fff;
}
.rel a{
    text-decoration: none;
    color: #000;
    padding: 18px 50px;
    background-color: #fff;
    font-weight: 500;
    font-size: 24px;
}
.new{
    width: 1180px;
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-img{
    width: 680px;
    height: 460px;
    overflow: hidden;
}
.new-img img{
    width: 100%;
    height: 100%;
}
.new-text{
    width: 420px;
    color: #fff;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 530px;
    align-items: center;
    padding-bottom: 20px;
}
.world{
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    letter-spacing: 22%;
}
.new-text h3{
    height: 132px;
    margin: 20px 0;
    font-weight: 600;
    font-size: 36px;
    width: 415px;
    line-height: 43.57px;
}
.scien{
    height: 90px;
    margin: 20px 0 50px;
    font-weight: 400;
    font-size: 20px;
    width: 420px;
    line-height: 30px;
}
.cont{
    display: flex;
    width: 420px;
    align-items: center;
    justify-content: space-between;    
}
.vektor{
    width: 88px;
    height: 21px;
    overflow: hidden;
}
.vektor img{
    width: 100%;
    height: 100%;
}
.country{
    width: 100%;
    height: 590px;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    justify-content: center;
    
}
.cont1, .cont2, .cont3{
    width: 394px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.cont1{
    border-left: 1px solid #c7c7c7 ;
    border-right: 1px solid #c7c7c7 ;
}
.box{
    width: 340px;
    height: 467px;
}
.box-img{
    width: 340px;
    height: 285px;
    overflow: hidden;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.cont2 .box h3{
    height: 58px;
    font-weight: 600;
    font-size: 24px;
    width: 340px;
    line-height: 30px;
    color: #fff;
    margin: 30px 0;
}
.cont2 .box p, .cont3 .box p{
    height: 72px;
    font-weight: 400;
    font-size: 20px;
    width: 340px;
    line-height: 24px;
    color: #c2c2c2;

}
.cont1 .box h3, .cont3 .box h3{
    height: 87px;
    font-weight: 600;
    font-size: 24px;
    width: 340px;
    line-height: 30px;
    color: #fff;
    margin: 30px 0;
}
.cont1 .box p{
    height: 48px;
    font-weight: 400;
    font-size: 20px;
    width: 340px;
    line-height: 24px;
    color: #c2c2c2;
}

.subscribe{
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 257px;
}
.newsletter h3{
    font-weight: 600;
    font-size: 32px;
}
.first{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0;
}
.email{
    width: 748px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    padding: 20px;
}
.newsletter div{
    height: 56px;
    width: 748px;
    position: relative;
}
.submit{
    padding: 14px 20px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
}
.click{
    margin-top: 30px;
    font-size:14px;
    font-weight: 400;
}
footer{
    width: 100%;
    height: 564px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ul{
    height: 390px;
    width: 1180px;
    gap: 110px;
    display: flex;
    border-bottom: 1px solid #000;
}
.ul ul li{
    list-style: none;
    margin: 13px 0;
}
.ul .li1{
    font-weight: 700;
    margin-bottom: 30px;
}
.hyp{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.hyp-left h3{
    position: relative;
    width: 120px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;

}
.hyp-left h3 p{
    position: absolute;
    top: 0%;
    right: 0;
    font-size: 7px;
}
.cor{
    width: 354px;
    font-weight: 400;
    font-size: 14px;
    color: #505050;
}
.media{
    margin-top: 10px;
    width: 175px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 22px;
    margin-bottom: 15px;
}
.hyp-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hyp-right ul{
    display: flex;
    list-style: none;
}